body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(138, 138, 138);
  text-align: center;
  color: #332c2c;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0;
}

h3 {
  margin: 40px 0;
}

ul {
  max-width: 500px;
  text-align: justify;
  margin: 20px auto 20px auto;
}

#tribute-info {
  line-height: 1.8;
}

#img-div {
  background-color: white;
  padding: 10px;
}

#img-caption {
  margin: 5px;
}

.kutipan {
  font-style: italic;
  font-size: 15px;
  font-weight: 600;
}

.info-lengkap {
  margin: 40px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1366px){
  #image {
    max-width: 100%;
    width: 40rem;
    height: auto;
  }
}

@media (max-width: 1024px){
  #image {
    max-width: 100%;
    width: 20rem;
    height: auto;
  }
}

a {
  color: #666fbe;
}

a:visited {
  color: rgb(4, 4, 117);
}

a:hover {
  color: blue;
}