body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(138, 138, 138);
  text-align: center;
  color: #332c2c;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0;
}

h3 {
  margin: 40px 0;
}

ul {
  max-width: 500px;
  text-align: justify;
  margin: 20px auto 20px auto;
}

#tribute-info {
  line-height: 1.8;
}